<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <center>
    <div style="margin-top: 200px;">
    <h1>Password Does Not Match.</strong></h1>
    <br><br>
    <h4 style="color: blue;cursor: pointer;">Redirecting Reset Password Page .......</h4>
    </center>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '{% url 'reset_password' %}';
        }, 2000);
    </script>
</body>
</html>