{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NecessaryStuff</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="shortcut icon" href="{% static 'image/logo5.jpg' %}">
</head>
<body>
    <section id="header">
        <a href="{% url "home" %}"><img src="{% static 'image/logo5.jpg' %}" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "shop" %}" class="active">Shop</a></li>
                <li><a href="{% url "blog" %}">Blog</a></li>
                <li><a href="{% url "about" %}">About</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
                <li id="lg-bag"><a href="{% url "cart" %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                <li id="lg-bag"><a href="{% url "user" %}"><i class="fas fa-user"></i></a></li>
                <h5>{{user_name}}</h5>
                <a href="#" id="close"><i class="far fa-times-circle"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Get Home Delivery</p>
    </section>

    <section id="product1" class="section-p1">
        <div class="pro-container">
            {% if items %}
            {% for item in items %}
            <div class="pro" data-product-id="{{ item.id }}"> <!*onclick="redirectToProduct(this)">
                <img class="profile_img" src="data:image/jpeg;base64,{{ item.image }}">
                <div class="desc">
                    <span>{{ item.name }}</span>
                    <h5>{{ item.description }}</h5>
                    <div class="star">
                        {% for _ in item.ratting %}
                        <i class="fas fa-star"></i>
                        {% endfor %}
                    </div>
                    <h4>₹ {{ item.price }}</h4>
                </div>
                <div>
                    <form id="deleteForm" action="{% url 'add_to_cart' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <button type="submit"><i class="fas fa-shopping-cart cart" style="color: #088178;"></i></button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <center>
            <h4 style="margin-left: 600px; margin-top: 100px;">No product Added.</h4>
            </center>
            {% endif %}
        </div>
    </section>



    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext"> 
        </div>
        <div class="form">  
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Adress:</strong> MIT Hostel BSF Campus, Yelahanka, Bengaluru</p>
            <p><strong>Phone:</strong> (+91) 7020827885</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{% static 'image/pay/app.jpg' %}" alt="">
                <img src="{% static 'image/pay/play.jpg' %}" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="{% static 'image/pay/pay.png' %}" alt="">
        </div>

        <div class="copyright">
            <p>© 2024, Tech2 etc - RJ Mart</p>
        </div>
    </footer>
</body>
<script>
    function redirectToProduct(div) {
        var productId = div.getAttribute("data-product-id");
        var baseUrl = window.location.origin + "/members/";
        window.history.replaceState({}, document.title, baseUrl);
        window.location.href = baseUrl + "sproduct/" + productId;
    }
</script>
</html>